body {
  margin: 0 auto;
  background-color: lightgray;
}

#play-btn {
  background-color: #ff6700;
  color: white;
  padding: 20px 50px;
  font-size: 25px;
  font-family: "Play", sans-serif;
  border-radius: 30px;
  margin-top: 32px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: darkgray;
  width: 800px;
  height: 385px;
  overflow: hidden;
  position: relative;
  user-select: none;
  background-image: url(./images/BACKGROUND.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

#score-display{

  font-family: 'Bangers', sans-serif;
  font-size: xx-large;
  background: linear-gradient(to top,red,rgb(230, 156, 19));
  color: transparent; 
  background-clip: text;
  -webkit-background-clip: text;
  margin: 30px;
  left: 10px;
  


}

#counter-display {
  position: absolute;
  font-family: 'Bangers', sans-serif;
  font-size: xx-large;
  background: linear-gradient(to top, red, rgb(216, 230, 19));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  top: 10px; 
  right: 30px; 
}





#game-screen,
#gameover-screen {
  display: none;



  
}

#restart-btn {
  background-color: #ff6700;
  color: white;
  padding: 20px 50px;
  font-size: 25px;
  font-family: "Play", sans-serif;
  border-radius: 30px;
  margin-top: 32px;
  cursor: pointer;
}
